.landing-bg {
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.landing-container {
    padding: 50px 25px;
}

/* PROMO-CONTENT */

.promo-container {
    position: relative;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo-title {
    position: relative;
    font-weight: 700;
    font-size: 25px !important;
    z-index: 2;
    text-align: center;
}

.promo-text {
    position: relative;
    font-weight: 700;
    font-size: 14px !important;
    z-index: 2;
    text-align: center;
}

.promo-bg-image {
    display: block;
    background: url('../../../assets/creative_color.svg') right/ cover no-repeat;
    max-width: 315px;
    width: 100%;
    height: 235px;
    z-index: 0;
}

.promo-btn {
    margin-top: 15px;
    padding: 4px 8px;
    display: flex;
    justify-content: center;
}

/* FEATURES */

.feature-margin {
    margin-top: 40px;
    text-align: center;
}

.feature-title {
    font-size: 25px !important;
    margin-bottom: 50px !important;
}

.features-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-card {
    max-width: 280px;
    text-align: center;
    margin-bottom: 20px;
}

.card-text {
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
}

.interactive-icon {
    display: block;
    background: url('../../../assets/m_student-playing.png') right/ cover no-repeat;
    height: 170px;
}

.generator-icon {
    display: block;
    background: url('../../../assets/m_create-easily.png') right/ cover no-repeat;
    width: 201px;
    height: 182px;
}

.grade-icon {
    display: block;
    background: url('../../../assets/m_teacher-creates-worksheet.png') right/ cover no-repeat;
    height: 170px;
}


/* HOW TO VIDEO */

.how-to-container {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how-to-text {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how-to-video-box {
    height: 500px;
}

.how-to-title {
    margin-bottom: 20px;
    font-size: 25px !important;
}

.ratio-16x9 {
    aspect-ratio: 16 / 9;
}

.ratio {
    position: relative;
    width: 100%;
    max-width: 600px;
}

iframe {
    max-width: 600px;
    max-height: 330px;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 400px) {
    .promo-bg-image {
        max-width: 395px;
        width: 100%;
        height: 260px;
    }

    .promo-btn {
        font-size: 16px;
        height: 40px;
        padding: 6.428571428571429px 15px;
    }

    .feature-card {
        max-width: 350px;
    }

    .generator-icon {
        width: 300px;
        height: 250px;
    }
    .how-to-p {
        margin-bottom: 0px !important;
    }
}

@media screen and (min-width: 490px) {
    .promo-bg-image {
        max-width: 395px;
        width: 100%;
        height: 260px;
    }

    .promo-title {
        font-size: 32px !important;
    }

    .feature-title {
        font-size: 30px !important;
    }

    .how-to-title {
        font-size: 30px !important;
    }
}

@media screen and (min-width: 768px) {
    .promo-container {
        position: relative;
        margin-top: 30px;
        display: block;
    }

    .promo-bg-image {
        position: absolute;
        width: 360px;
        height: 365px;
        top: -30%;
        right: -3%;
    }

    .promo-title {
        font-size: 30px !important;
        max-width: 415px;
        text-align: left;
    }

    .promo-text {
        font-size: 18px !important;
        max-width: 325px;
        text-align: left;
    }
}

@media screen and (min-width: 870px) {
    .promo-container {
        margin-top: 50px;
    }

    .promo-bg-image {
        max-width: 100%;
        width: 400px;
        height: 325px;
        top: -24%;
        right: -2%;
    }

    .promo-title {
        font-size: 33px !important;
        max-width: 550px;
    }

    .promo-text {
        max-width: 450px;
    }

    .feature-margin {
        margin-top: 140px;
    }

}

@media screen and (min-width: 1090px) {
    .promo-bg-image {
        width: 445px;
        height: 320px;
    }

    .promo-title {
        font-size: 34px !important;
        max-width: 630px;
    }

    .promo-text {
        font-size: 18px !important;
        max-width: 610px;
    }

    .landing-container {
        padding: 50px;
    }

    .features-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .feature-card {
        max-width: 280px;
    }

    .generator-icon {
        width: 230px;
        height: 199px;
    }

    .feature-card {
        margin-bottom: 0;
    }

    .how-to-container {
        margin-top: 140px;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .how-to-title {
        margin-top: 0 !important;
    }

    .how-to-text {
        padding-right: 10px;
    }
}

@media screen and (min-width: 1200px) {
    .promo-bg-image {
        width: 560px;
        height: 445px;
    }

    .promo-title {
        font-size: 46px !important;
        max-width: 630px;
    }

    .promo-text {
        font-size: 20px !important;
    }

    .features-container {
        justify-content: space-around;
    }
}