.categories-box {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0 12px;
}

@media screen and (max-width: 576px) {
    .categories-box {
        flex-direction: column;
        align-items: flex-start;
    }
}