.registration-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-right: 50px;
}

.sub-register {
    max-width: 580px;
    width: 100%;
}

.registration-title {
    margin-left: 155px;
}

.radio-box {
    margin-left: 150px;
}

.login-text {
    margin-left: 150px;
}

@media screen and (max-width: 575.5px) {
    .registration-box {
        margin-right: 0px;
    }

    .registration-title {
        margin-left: 0px;
    }
    
    .radio-box {
        margin-left: 0px;
    }
    
    .login-text {
        margin-left: 0px;
    }
}

@media screen and (min-width: 730px) {
    .registration-box {
        margin-right: 100px;
    }
}