.problem-card {
    border: 1px solid #ddd;
    width: 80%;
    white-space: nowrap; 
    padding: 10px 15px 10px 5px;
    margin: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}