.headerLogo {
    display: block;
    width: 120px;
    height: 55px;
    background: url('../../../../assets/class2beLogo.png') center/contain no-repeat;
    cursor: pointer;
}

.headerShadow {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
}