/* FOOTER */

.footer_container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.footer_logo_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.footer_logo {
    display: block;
    width: 170px;
    height: 95px;
    background: url('../../assets/class2beLogo.png') center/contain no-repeat;
    cursor: pointer;
}

.footer_logo_text {
    max-width: 201px;
    font-size: 14px;
    margin-bottom: 5px;
}

.logo_socials {
    display: flex;
    align-items: center;
}

.logo_socials_links-inst {
    display: inline-block;
    width: 35px;
    height: 40px;
    background: url('../../assets/Instagram_logo.svg') center/contain no-repeat;
    margin-right: 30px;
}

.logo_socials_links-yt {
    display: inline-block;
    width: 40px;
    height: 35px;
    background: url('../../assets/YouTube_full-color_icon.svg') center/contain no-repeat;
}

.footer_quicklinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.footer_links {
    font-size: 15px;
    margin-bottom: 15px;
}

.contactus_row {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.contactus-text {
    font-size: 15px;
    line-height: 26px;
    max-width: 201px;
}

.whatsapp-icon {
    font-size: 26px;
    color: #25D366;
    margin-right: 15px;
}

.whatsapp-link {
    font-size: 18px;
    color:#000000;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-mail-text {
    font-weight: 700;
}


.all-rights-row-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all-rigts-span {
    font-size: 12px;
    font-weight: bold;
}

.privacy-link {
    font-size: 12px;
    font-weight: bold;
}

.credit-link {
    margin-left: 15px;
}

@media screen and (min-width: 480px) {
    .all-rights-row-box {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width: 850px) {
    .footer_container {
        flex-direction: row;
        align-items: flex-start;
    }
    .footer_logo_content {
        align-items: flex-start;
    }
    .logo_socials {
        justify-content: flex-start;
    }
    .footer_quicklinks {
        align-items: flex-start;
    }
    .contactus_row {
        align-items: flex-end;
    }
    .contactus-text {
        text-align: right;
    }
}