.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forgot-text {
    font-size: 14px !important;
}

@media screen and (max-width: 373px) {
    .forgot-text {
        font-size: 13px !important;
    }
    .register-text {
        font-size: 12px !important;
    }
}