body {
  margin: 0;
}

*,
.ant-typography {
  font-family: 'Comfortaa', cursive;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.space-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tutorials-container {
  max-width: 1700px;
  margin: 35px auto;
  padding: 0 15px;
}

.ant-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.ant-layout {
  background: #fcfcfc !important;
}

.flexible-card .ant-card-body {
  flex-grow: 1
}