.mainDiv {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.WordsDiv {
    width: 40%;
    padding: 20px;
}

.contentDiv {
    height: 500px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 20px;
    overflow: auto;
}

.wordCSS {
    cursor: pointer;
    padding: 5px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 660px) {
    .mainDiv {
        flex-direction: column;
    }
    .WordsDiv {
        width: 100%;
    }
}