.quiz-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
  }
  
  .quiz-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .quiz-question {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .quiz-options {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .quiz-option {
    margin-bottom: 8px;
  }
  
  .quiz-option input {
    margin-right: 10px;
  }
  
  .quiz-button {
    background-color: #52c41a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 9999px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .quiz-button:disabled {
    background-color: #b0c3d1;
    cursor: not-allowed;
  }
  
  .quiz-score {
    font-size: 18px;
    margin-top: 20px;
  }
  
  .quiz-reset-button {
    background-color: #1da1f2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 9999px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
  }
  