.quiz-creator-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 3vh;
}

.quiz-creator-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.quiz-creator-inputs {
  margin-bottom: 20px;
  width: 48%;
}

.quiz-creator-label {
  display: block;
  font-size: 16px;
  font-weight: bolder;
  margin-bottom: 8px;
}

.quiz-creator-input,
.quiz-creator-select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s;
  margin-bottom: 10px;
}

.quiz-creator-select:focus {
  border: 1px solid #52c41a;
}

.quiz-creator-input:focus {
  border: 1px solid #52c41a;
}

.quiz-creator-button {
  background-color: #52c41a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 9999px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.quiz-creator-button+.quiz-creator-button {
  margin-left: 10px;
}

.quiz-creator-button:disabled {
  background-color: #b0c3d1;
  cursor: not-allowed;
}

.validation-error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.question-list {
  flex: 1;
  margin-left: 20px;
  border-left: 1px solid #ccc;
  padding-left: 20px;
}

.question-list h2 {
  text-align: center;
}

.question-list ul {
  list-style-type: none;
  padding: 0;
}

.question-list li {
  margin-bottom: 15px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f5f5f5;
}

.question-list li h3 {
  margin: 0;
  font-size: 18px;
}

.question-list .options {
  margin-top: 5px;
  font-size: 14px;
}

.question-list .correct-answer {
  color: green;
  font-weight: bold;
}